name: Codecov workflow

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test code coverage
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    - name: Install requirements
      run: pip install -r requirements.txt pytest-cov coverage
    - name: Build yarrrml-translator
      run: |
        cd yarrrml-translator
        pip install .
    - name: Run tests and collect coverage
      run: coverage run --source yarrrml_translator -m pytest
    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v3